.pio/
.pio-core/
.piolibdeps/
.clang_complete
.gcc-flags.json
.sconsign.dblite
*.o
*.pyc
*.code-workspace
__pycache__/
python/__pycache__/
.vscode/c_cpp_properties.json
doc/dist/
doc/build/
doc/myMatrixClock2_summary.pdf
test/
DOCU/
